<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-full max-w-lg">
    <%= form_for(current_user, url: user_steps_path, method: :patch, data: { turbo: true }, html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' }) do |f| %>
      <div class="mb-4">
        <h2 class="text-2xl font-bold text-center text-gray-800">
          <%= t('user.user_steps.complete_profile') %>
        </h2>
      </div>
      <div class="mb-4">
        <%= f.label :description, t('user.user_steps.description_label'), class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.text_area :description, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :skills, t('user.user_steps.skills_label'), class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.select :skills, options_for_select(@skills), {}, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :location, t('user.user_steps.location_label'), class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.select :location, options_for_select(@locations), {}, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :experience, t('user.user_steps.experience_label'), class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.select :experience, options_for_select(@experience_levels), {}, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="flex items-center justify-between">
        <%= f.submit t('user.user_steps.save'), data: { turbo: true }, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    <% end %>
  </div>
</div>
