<div class="flex-1 overflow-auto">
  <div class="container mx-auto p-6 bg-gray-100">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold text-gray-900 mb-4 flex items-center">
          <span class="bg-blue-200 px-3 py-1 rounded-full flex items-center">
            <i class="fas fa-envelope mr-2"></i>
            Wiadomości
          </span>
        </h2>
        <% if @last_messages.present? %>
          <% @last_messages.each do |message| %>
            <div class="mb-4 border-b pb-2">
              <p class="text-gray-700">
                <%= link_to message.body.truncate(50), conversation_message_path(message.conversation, message), class: 'text-blue-700 hover:text-blue-900' %>
              </p>
              <p class="text-gray-500 text-sm"><%= I18n.l(message.created_at, format: :long) %></p>
            </div>
          <% end %>
        <% else %>
          <p class="text-gray-500">Brak wiadomości.</p>
        <% end %>
      </div>

      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold text-gray-900 mb-4 flex items-center">
          <span class="bg-green-200 px-3 py-1 rounded-full flex items-center">
            <i class="fas fa-tasks mr-2"></i>
            Twoje zlecenia
          </span>
        </h2>
        <% if @visible_bookings.present? %>
          <% @visible_bookings.each do |booking| %>
            <div class="mb-4 border-b pb-2">
              <p class="text-gray-700">
                <%= link_to booking.post.title, booking_path(booking), class: 'text-blue-700 hover:text-blue-900' %> - <%= booking.status %>
              </p>
              <p class="text-gray-500 text-sm"><%= I18n.l(booking.start_date, format: :long) %> - <%= I18n.l(booking.end_date, format: :long) %></p>
            </div>
          <% end %>
        <% else %>
          <p class="text-gray-500">Brak zleceń.</p>
        <% end %>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6 col-span-2">
        <h2 class="text-xl font-bold text-gray-900 mb-4 flex items-center">
          <span class="bg-yellow-200 px-3 py-1 rounded-full flex items-center">
            <i class="fas fa-bell mr-2"></i>
            Powiadomienia
          </span>
        </h2>
        <% if @notifications.present? %>
          <% @notifications.each do |notification| %>
            <div id="notification_<%= notification.id %>" class="mb-4 flex justify-between items-center border-b pb-2">
              <p class="text-gray-700">
                <% if notification.action == 'sent you a request for' %>
                  <%= link_to "#{notification.actor.first_name} wysłał Ci ofertę", notification_path(notification), class: 'text-blue-700 hover:text-blue-900' %>
                <% elsif notification.action == 'request accepted' %>
                  <%= link_to "#{notification.actor.first_name} zaakceptował twoją ofertę", notification_path(notification), class: 'text-blue-700 hover:text-blue-900' %>
                <% elsif notification.action == 'request rejected' %>
                  <%= link_to "#{notification.actor.first_name} odrzucił twoją ofertę", notification_path(notification), class: 'text-blue-700 hover:text-blue-900' %>
                <% elsif notification.action == 'sent you a negotiation request' %>
                  <%= link_to "#{notification.actor.first_name} wysłał Ci propozycję negocjacji", notification_path(notification), class: 'text-blue-700 hover:text-blue-900' %>
                <% end %>
              </p>
              <%= button_to "X", notification_path(notification), method: :delete, data: { turbo_stream: true, confirm: "Jesteś pewien?" }, class: "text-red-600 hover:text-red-900" %>
            </div>
          <% end %>
          <%= link_to "Zobacz wszystkie powiadomienia", notifications_path, class: 'text-blue-700 hover:text-blue-900' %>
        <% else %>
          <p class="text-gray-500">Brak powiadomień.</p>
        <% end %>
      </div>

      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold text-gray-900 mb-4 flex items-center">
          <span class="bg-purple-200 px-3 py-1 rounded-full flex items-center">
            <i class="fas fa-chart-line mr-2"></i>
            Raporty
          </span>
        </h2>
        <div id="chart-container" class="relative w-full h-64">
          <canvas id="bookingChart" class="w-full h-full"></canvas>
          <div id="loading-spinner" class="absolute inset-0 flex items-center justify-center"></div>
        </div>
        <div class="mt-6">
          <p class="text-gray-700">W tym miesiącu: <%= @current_month_bookings %></p>
          <p class="text-gray-700">W poprzednim miesiącu: <%= @previous_month_bookings %></p>
          <p class="text-gray-700">Postęp: <span style="color: <%= @booking_progress >= 0 ? 'green' : 'red' %>;">
            <%= @booking_progress.round(2) %>%</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
