<div id="messages">
  <%= turbo_stream_from @conversation %>
  <%= render partial: "messages/message", collection: @messages, as: :message, locals: { current_user_id: current_user.id } %>
</div>

<%= turbo_frame_tag "message_form" do %>
  <%= form_for [@conversation, @new_message], html: { data: { turbo_frame: "_top" }, id: "new_message" } do |f| %>
    <div id="message_form_errors"></div>
    <div class="mb-4">
      <%= f.text_area :body, id: "message_body", class: "w-full rounded border-gray-300 p-2 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50", rows: 4 %>
    </div>
    <%= f.submit "Wyślij", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  <% end %>
<% end %>

<script>
  document.addEventListener("turbo:submit-end", function(event) {
    const form = event.target;
    if (form && form.id === "new_message") {
      document.getElementById("message_body").value = "";
    }
  });
</script>
