<div class="flex h-screen bg-gray-100 overflow-hidden">
  <%= render 'shared/dashboard/sidebar' %>

  <div class="w-full lg:w-1/4 bg-white shadow-lg h-full overflow-y-auto p-4 lg:p-6">
    <h2 class="text-xl lg:text-2xl font-bold mb-4">Moje Konwersacje</h2>
    <% @active_conversations_with_recipients.each do |item| %>
      <%= link_to "#{item[:recipient].first_name} #{item[:recipient].last_name}", conversation_messages_path(item[:conversation]), class: "block text-blue-500 hover:text-blue-700 mb-2" %>
    <% end %>
  </div>

  <div class="w-full lg:w-3/4 flex-1 overflow-auto bg-gray-100" id="messages-window">
    <div class="container mx-auto p-4 lg:p-6 h-full flex flex-col">
      <% if @conversation %>
        <% recipient = @conversation.recipient == current_user ? @conversation.sender : @conversation.recipient %>
        <div class="bg-white p-4 rounded-lg shadow-md mb-4">
          <h2 class="text-2xl font-bold text-gray-800">Czat z: <%= recipient.first_name %> <%= recipient.last_name %></h2>
        </div>
      <% end %>

      <% if @messages.any? %>
        <div class="messages space-y-2 mb-4 flex-grow overflow-y-auto" style="max-height: calc(100vh - 200px);">
          <% @messages.each do |message| %>
            <% if message.user_id == current_user.id %>
              <div class="flex justify-end">
                <p class="bg-blue-500 text-white rounded-lg p-2 max-w-xs break-words border border-blue-300 border-opacity-50">
                  <%= message.body %>
                </p>
              </div>
            <% else %>
              <div class="flex justify-start">
                <p class="bg-gray-300 rounded-lg p-2 max-w-xs break-words">
                  <%= message.body %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-500">Brak wiadomości.</p>
      <% end %>
      <div class="clearfix">
        <%= paginate @messages %>
      </div>

      <%= form_for [@conversation, @new_message], html: { class: "space-y-4 mt-4" } do |f| %>
        <div id="message_form_errors"></div>
        <div class="mb-4">
          <%= f.text_area :body, class: "w-full rounded border-gray-300 p-2 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50", rows: 4 %>
        </div>
        <%= f.submit "Wyślij", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      <% end %>
    </div>
  </div>
</div>
