<div class="flex-1 overflow-auto">
  <div class="flex flex-col h-full">
    <div class="flex-none bg-gray-100 p-4">
      <h1 class="text-3xl font-bold text-gray-800 text-center">Kalendarz</h1>
      <div class="flex justify-between items-center mt-4">
        <%= link_to 'Poprzedni miesiąc', calendar_bookings_path(month: @month.prev_month), class: 'text-blue-500' %>
        <span class="text-xl font-semibold"><%= month_name_in_polish(@month) %> <%= @month.year %></span>
        <%= link_to 'Następny miesiąc', calendar_bookings_path(month: @month.next_month), class: 'text-blue-500' %>
      </div>
    </div>
    <div class="flex-grow flex items-center justify-center bg-white p-4">
      <div class="w-full max-w-6xl">
        <%= custom_month_calendar(@bookings, @month) %>
      </div>
    </div>
  </div>
</div>

<div id="bookingModal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg relative">
    <div id="modalContent"></div>
    <button id="closeModal" class="absolute top-0 right-0 m-4 text-gray-700 hover:text-gray-900">&times;</button>
  </div>
</div>
