<div class="flex-1 overflow-auto min-h-screen">
  <div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-lg rounded-lg p-8 relative mb-8">
      <div class="absolute top-0 right-0 bg-red-500 text-white text-xs md:text-sm font-bold px-4 py-2 rounded-bl-lg z-50 w-full md:w-auto">
        Platforma Worxy nie posiada wewnętrznego systemu płatności, pamiętaj aby uzgodnić warunki opłat z klientem/wykonawcą.
      </div>
      <div class="text-center mt-12">
        <h1 class="text-3xl font-bold mb-6 border-b-2 border-gray-200 pb-4">Szczegóły Rezerwacji</h1>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4 text-center">Podstawowe Informacje</h2>
        <div class="border-b-2 border-gray-200 mb-4"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <p class="font-medium">Nazwa ogłoszenia:</p>
            <p><%= link_to @booking.post.title, @booking.post, class: "text-blue-500 hover:text-blue-700" %></p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <p class="font-medium">Status:</p>
            <p><%= human_enum_name('booking.statuses', @booking.status) %></p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <p class="font-medium">Data rozpoczęcia:</p>
            <p><%= I18n.l(@booking.start_date, format: :long) %></p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <p class="font-medium">Data zakończenia:</p>
            <p><%= I18n.l(@booking.end_date, format: :long) %></p>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <p class="font-medium">Proponowana cena:</p>
            <p><%= number_to_currency(@booking.offered_price) %></p>
          </div>
        </div>
      </div>

      <% if @booking.post.images.attached? %>
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4 text-center">Zdjęcie główne</h2>
        <div class="border-b-2 border-gray-200 mb-4"></div>
        <div class="flex justify-center items-center">
          <div class="w-full h-48 object-cover rounded-lg border border-gray-200 shadow-sm overflow-hidden">
            <%= image_tag @booking.post.images.first.variant(resize_to_fill: [400, 300]), class: "w-full h-full object-cover" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 mt-8">
      <h2 class="text-xl font-semibold mb-4 text-center">Dane Ogłoszenia</h2>
      <div class="border-b-2 border-gray-200 mb-4"></div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Opis:</p>
          <p><%= @booking.post.description %></p>
        </div>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Budżet:</p>
          <p><%= number_to_currency(@booking.post.price) %></p>
        </div>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Priorytet:</p>
          <p><%= human_readable_priority(@booking.post.availability) %></p>
        </div>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Telefon usługodawcy:</p>
          <p><%= @booking.post.contact_information %></p>
        </div>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 mt-8">
      <h2 class="text-xl font-semibold mb-4 text-center">Dane Zleceniodawcy</h2>
      <div class="border-b-2 border-gray-200 mb-4"></div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Zabookowane przez:</p>
          <p><%= @booking.user.full_name %></p>
        </div>
        <% if @booking.visible_to_user %>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Widoczne dla:</p>
          <p><%= @booking.visible_to_user.email %></p>
        </div>
        <% end %>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <p class="font-medium">Utworzone przez:</p>
          <p><%= @booking.post.user.full_name %></p>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 justify-center mt-8">
      <%= link_to 'Edytuj zlecenie', edit_booking_path(@booking), class: 'bg-worxyYellow hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded text-center' %>
      <%= link_to 'Wróć', dashboard_index_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded text-center' %>

      <% if @booking.status == 'completed' %>
        <p class="text-orange-500 text-sm mt-2 text-center">Zlecenie zostało pomyślnie ukończone.</p>
      <% else %>
        <% if @booking.pending_negotiation? %>
          <%= button_to 'Zakończ zlecenie', complete_with_offered_price_booking_path(@booking), method: :post, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed text-center', disabled: true %>
          <button id="negotiate-modal-open-btn" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed text-center" disabled>Negocjuj budżet</button>
          <p class="text-red-500 text-sm mt-2 text-center">Przed zaakceptowaniem użytkownik musi potwierdzić cenę</p>
        <% else %>
          <%= button_to 'Zakończ zlecenie', complete_with_offered_price_booking_path(@booking), method: :post, class: 'bg-worxyYellow hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded text-center' %>
                 <!-- BUTTON FOR PRICE NEGOTIATING IS DISABLEd 
            <button id="negotiate-modal-open-btn" 
                    class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded text-center" 
                    disabled 
                    style="visibility: hidden; pointer-events: none; opacity: 0;">
                Negocjuj budżet
            </button> -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- <div id="negotiate-modal" class="fixed inset-0 hidden items-center justify-center z-50">
  <div class="bg-black bg-opacity-50 absolute inset-0"></div>
  <div class="bg-white rounded-lg shadow-lg p-6 z-50 w-full max-w-lg mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Negocjuj budżet.</h2>
    <%= form_with url: negotiate_price_booking_path(@booking), method: :post, local: true do |form| %>
      <div class="mb-4">
        <%= form.label :new_price_offer, "Nowa cena", class: "block text-sm font-medium text-gray-700" %>
        <%= form.number_field :new_price_offer, placeholder: "Nowa cena", class: "form-input mt-1 block w-full" %>
      </div>
      <div class="flex justify-end space-x-4">
        <button type="button" id="negotiate-modal-close-btn" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Anuluj</button>
        <%= form.submit 'Wyślij', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
      </div>
    <% end %>
  </div>
</div> 

<script>
  document.getElementById('negotiate-modal-open-btn').addEventListener('click', function () {
    document.getElementById('negotiate-modal').classList.remove('hidden');
  });

  document.getElementById('negotiate-modal-close-btn').addEventListener('click', function () {
    document.getElementById('negotiate-modal').classList.add('hidden');
  });
</script> -->

