<div class="flex-1 overflow-auto">
  <div class="container mx-auto p-6 bg-gray-100">
    <div class="flex justify-between items-start mb-4">
      <div class="flex flex-col flex-1 mr-4">
        <h1 class="text-xl font-bold text-gray-800 flex items-center">
          <span class="bg-blue-200 px-3 py-1 rounded-full flex items-center">
            <i class="fas fa-user mr-2"></i>
            Profil
          </span>
        </h1>
        <div class="bg-white shadow rounded-lg p-4 mt-4 flex-1">
          <h2 class="text-lg font-bold text-gray-800 mb-4 flex items-center">
            <span class="bg-green-200 px-3 py-1 rounded-full flex items-center">
              <i class="fas fa-info-circle mr-2"></i>
              Opis użytkownika
            </span>
          </h2>
          <p class="text-gray-500"><%= @user.description %></p>
        </div>
      </div>
      <div class="flex flex-col items-start w-1/3">
        <% if @user == current_user %>
          <div class="flex space-x-4 mb-4 self-end">
            <%= link_to 'Edytuj profil', edit_user_registration_path, class: 'bg-yellow-300 hover:bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded' %>
            <%= link_to 'Edytuj portfolio', new_user_portfolio_image_path(@user), class: 'bg-yellow-300 hover:bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded' %>
            <button id="open-portfolio" class="bg-yellow-300 hover:bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded">Zobacz portfolio</button>
          </div>
        <% end %>
        <div class="bg-white shadow rounded-lg p-4 w-full relative">
          <div class="flex justify-center">
            <div class="w-24 h-24 bg-gray-300 rounded-full mb-4"></div>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Imię: <%= @user.first_name %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Email: <%= @user.email %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Numer telefonu: <%= @user.phone_number %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Specjalizacja: <%= @user.skills %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Lokalizacja: <%= @user.location %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Doświadczenie: <%= @user.experience %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Rola: <%= @user.role.capitalize %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Konto utworzone: <%= I18n.l(@user.created_at, format: :long) %></p>
          </div>
          <div class="mb-4">
            <p class="font-semibold text-gray-700">Ostatnia aktualizacja: <%= I18n.l(@user.updated_at, format: :long) %></p>
          </div>
          <% if @user.average_rating %>
            <div id="user-average-rating" data-average-rating="<%= @user.average_rating %>" class="absolute top-4 right-4 bg-yellow-100 shadow rounded-lg p-4 w-full text-center mt-4">
              <p class="text-gray-700 font-semibold">Ocena użytkownika:</p>
              <div class="flex items-center justify-center mt-1">
                <% average = @user.average_rating %>
                <% full_stars = average.floor %>
                <% half_star = (average - full_stars) >= 0.5 %>
                <% (1..full_stars).each do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400 fill-current" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.518 4.674a1 1 0 00.95.69h4.932c.969 0 1.371 1.24.588 1.81l-3.993 2.905a1 1 0 00-.364 1.118l1.518 4.674c.3.921-.755 1.688-1.54 1.118l-3.993-2.905a1 1 0 00-1.176 0l-3.993 2.905c-.784.57-1.839-.197-1.54-1.118l1.518-4.674a1 1 0 00-.364-1.118L2.89 10.1c-.783-.57-.38-1.81.588-1.81h4.932a1 1 0 00.95-.69L9.049 2.927z" />
                  </svg>
                <% end %>
                <% if half_star %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400 fill-current" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.518 4.674a1 1 0 00.95.69h4.932c.969 0 1.371 1.24.588 1.81l-3.993 2.905a1 1 0 00-.364 1.118l1.518 4.674c.3.921-.755 1.688-1.54 1.118l-3.993-2.905a1 1 0 00-1.176 0l-3.993 2.905c-.784.57-1.839-.197-1.54-1.118l1.518-4.674a1 1 0 00-.364-1.118L2.89 10.1c-.783-.57-.38-1.81.588-1.81h4.932a1 1 0 00.95-.69L9.049 2.927z" />
                  </svg>
                <% end %>
                <p class="ml-2 text-gray-600"><%= average %> / 5</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4"></div>

    <div class="mt-4 grid grid-cols-1">
      <div class="bg-white shadow rounded-lg p-4">
        <h2 class="text-lg font-bold text-gray-800 mb-4 flex items-center">
          <span class="bg-purple-200 px-3 py-1 rounded-full flex items-center">
            <i class="fas fa-comments mr-2"></i>
            Opinie
          </span>
        </h2>
        <% if current_user && @user.received_opinions.exists?(rater: current_user) %>
          <div>
            <h3 class="text-lg font-bold text-gray-800 mb-4">Twoja opinia:</h3>
            <div class="mt-4 p-4 border rounded bg-gray-50">
              <% opinion = @user.received_opinions.find_by(rater: current_user) %>
              <p class="font-semibold"><%= opinion.rater.first_name %> <%= opinion.rater.last_name %></p>
              <div class="flex">
                <% (1..5).each do |star| %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 <%= opinion.stars >= star ? 'text-yellow-400' : 'text-gray-300' %> fill-current" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.518 4.674a1 1 0 00.95.69h4.932c.969 0 1.371 1.24.588 1.81l-3.993 2.905a1 1 0 00-.364 1.118l1.518 4.674c.3.921-.755 1.688-1.54 1.118l-3.993-2.905a1 1 0 00-1.176 0l-3.993 2.905c-.784.57-1.839-.197-1.54-1.118l1.518-4.674a1 1 0 00-.364-1.118L2.89 10.1c-.783-.57-.38-1.81.588-1.81h4.932a1 1 0 00.95-.69L9.049 2.927z" />
                  </svg>
                <% end %>
              </div>
              <p class="text-gray-600"><%= opinion.comment %></p>
            </div>
          </div>
        <% else %>
          <%= link_to 'Dodaj opinię', new_user_opinion_path(@user), class: 'bg-yellow-300 hover:bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded' if @user != current_user %>
        <% end %>
        <h3 class="text-lg font-bold text-gray-800 mt-4">Pozostałe opinie:</h3>
        <% if @user.received_opinions.any? %>
          <% @user.received_opinions.each do |opinion| %>
            <div class="mt-4 p-4 border rounded">
              <p class="font-semibold"><%= opinion.rater.first_name %> <%= opinion.rater.last_name %></p>
              <div class="flex">
                <% (1..5).each do |star| %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 <%= opinion.stars >= star ? 'text-yellow-400' : 'text-gray-300' %> fill-current" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.518 4.674a1 1 0 00.95.69h4.932c.969 0 1.371 1.24.588 1.81l-3.993 2.905a1 1 0 00-.364 1.118l1.518 4.674c.3.921-.755 1.688-1.54 1.118l-3.993-2.905a1 1 0 00-1.176 0l-3.993 2.905c-.784.57-1.839-.197-1.54-1.118l1.518-4.674a1 1 0 00-.364-1.118L2.89 10.1c-.783-.57-.38-1.81.588-1.81h4.932a1 1 0 00.95-.69L9.049 2.927z" />
                  </svg>
                <% end %>
              </div>
              <p class="text-gray-600"><%= opinion.comment %></p>
            </div>
          <% end %>
        <% else %>
          <p class="text-gray-500 mt-2">Brak opinii.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="user-show-portfolio-modal" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-6xl relative">
      <div id="user-show-portfolio-images" class="flex flex-wrap justify-center">
        <% if @user.portfolio_images.any? %>
          <% @user.portfolio_images.each do |image| %>
            <div class="w-1/2 md:w-1/3 p-2">
              <%= image_tag image.variant(resize_to_fill: [600, 400]).processed, class: "object-contain max-w-full max-h-full user-show-thumbnail cursor-pointer", data: { full_url: url_for(image) } %>
            </div>
          <% end %>
        <% else %>
          <p class="text-gray-500">Brak zdjęć w portfolio</p>
        <% end %>
      </div>
      <button id="user-show-close-portfolio-bottom" class="mt-4 mx-auto bg-yellow-300 hover:bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded block">Zamknij</button>
    </div>
  </div>

  <div id="user-show-lightbox" class="fixed inset-0 bg-black bg-opacity-75 flex flex-col items-center justify-center hidden">
    <div class="relative w-full h-full max-w-screen-lg max-h-screen flex items-center justify-center">
      <button id="user-show-close-lightbox" class="absolute top-[20vh] lg:top-4 right-4 text-white text-2xl">×</button>
      <button id="user-show-prev-image" class="absolute left-4 text-white text-2xl px-2 bg-black bg-opacity-50 rounded-full">‹</button>
      <img id="user-show-lightbox-image" class="object-contain max-w-full max-h-[calc(100vh-15rem)]" src="" alt="Image" />
      <button id="user-show-next-image" class="absolute right-4 text-white text-2xl px-2 bg-black bg-opacity-50 rounded-full">›</button>
    </div>
    <div id="user-show-lightbox-thumbnails" class="flex justify-center space-x-2 p-4 mt-2"></div>
  </div>

  <div id="low-rating-modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">​</span>
      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
        <div>
          <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-5">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Uwaga!</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Ten użytkownik ma słabe opinie, uważaj</p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-6">
          <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-yellow-300 hover:bg-yellow-500 text-gray-800 font-bold sm:text-sm" id="close-modal-button">
            Zamknij
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
