<div class="flex-1 overflow-auto">
  <div class="container mx-auto px-4 py-8 max-w-5xl">
    <div class="mb-6 space-y-4">
      <%= form_with url: posts_path, method: :get, local: true, class: "space-y-4 w-full" do |f| %>
        <div class="flex space-x-4">
          <div class="w-2/3">
            <%= f.text_field :search, value: params[:search], placeholder: "Szukaj...", class: "w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", id: "categorySearch" %>
          </div>
          <div class="w-1/3">
            <%= f.text_field :city, value: params[:city], placeholder: "Miasto", class: "w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", id: "citySearch" %>
          </div>
        </div>
        <div class="flex space-x-4">
          <div class="w-1/2 relative">
            <div class="relative">
              <input type="text" placeholder="Kategorie..." class="p-2 border border-gray-300 rounded-lg shadow-sm w-full mb-2" id="categorySearchInput">
              <div class="absolute z-10 bg-white border border-gray-300 rounded-lg shadow-sm w-full max-h-64 overflow-y-auto" id="categoryDropdown" style="display: none; list-style-type: none; z-index: 9999;">
                <ul class="list-none p-0 m-0">
                  <% @categories.each do |category| %>
                    <li class="p-2 hover:bg-gray-100 cursor-pointer" data-value="<%= category.id %>"><%= category.name %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <%= f.hidden_field :category, id: "categorySelectHidden", value: params[:category] %>
          </div>
          <div class="w-1/2 relative">
            <div class="relative">
              <input type="text" placeholder="Podkategorie..." class="p-2 border border-gray-300 rounded-lg shadow-sm w-full mb-2" id="subcategorySearchInput">
              <div class="absolute z-10 bg-white border border-gray-300 rounded-lg shadow-sm w-full max-h-64 overflow-y-auto" id="subcategoryDropdown" style="display: none; list-style-type: none; z-index: 9999;">
                <ul class="list-none p-0 m-0">
                  <% @subcategories.each do |subcategory| %>
                    <li class="p-2 hover:bg-gray-100 cursor-pointer" data-value="<%= subcategory.id %>"><%= subcategory.name %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <%= f.hidden_field :subcategory, id: "subcategorySelectHidden", value: params[:subcategory] %>
          </div>
        </div>
        <%= f.hidden_field :tab, value: params[:tab] %>
        <div class="flex space-x-4">
          <%= f.submit 'Zastosuj', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          <%= link_to 'Wyczyść', posts_path, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>

    <div class="mb-6 border-b border-gray-200">
      <ul class="flex w-full">
        <li class="flex-1">
          <%= link_to 'Oferty klientów', posts_path(tab: 'customer', category: params[:category], subcategory: params[:subcategory], search: params[:search]), class: "block text-center p-4 text-sm sm:text-base whitespace-nowrap #{params[:tab] == 'worker' ? 'bg-white text-black border shadow-md rounded-t-lg' : 'bg-white text-black border-b-4 border-worxyYellow shadow-lg rounded-t-lg'}" %>
        </li>
        <li class="flex-1">
          <%= link_to 'Oferty fachowców', posts_path(tab: 'worker', category: params[:category], subcategory: params[:subcategory], search: params[:search]), class: "block text-center p-4 text-sm sm:text-base whitespace-nowrap #{params[:tab] == 'worker' ? 'bg-white text-black border-b-4 border-worxyYellow shadow-lg rounded-t-lg' : 'bg-white text-black border shadow-md rounded-t-lg'}" %>
        </li>
      </ul>
    </div>

    <hr class="my-6 border-gray-300">

    <% if params[:category].present? || params[:subcategory].present? || params[:search].present? %>
      <div class="mb-4">
        <p>
          Wyniki wyszukiwania 
          <% if params[:search].present? %>
            dla "<%= params[:search] %>"
          <% end %>
          <% if params[:category].present? %>
            w kategorii <%= Category.find(params[:category]).name %>
          <% end %>
          <% if params[:subcategory].present? %>
            <%= " > " + Category.find(params[:subcategory]).name %>
          <% end %>
        </p>
      </div>
    <% end %>

    <% if params[:tab] == 'worker' %>
      <% if @worker_posts.present? %>
        <%= render 'posts/worker_posts' %>
        <div class="mt-6">
          <%= render 'posts/pagination', posts: @worker_posts %>
        </div>
      <% else %>
        <div class="w-full text-center">
          <p>Brak wyników wyszukiwania.</p>
        </div>
      <% end %>
    <% else %>
      <% if @customer_posts.present? %>
        <%= render 'posts/customer_posts' %>
        <div class="mt-6">
          <%= render 'posts/pagination', posts: @customer_posts %>
        </div>
      <% else %>
        <div class="w-full text-center">
          <p>Brak wyników wyszukiwania.</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
