<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="lg:col-span-2 bg-white shadow-lg rounded-lg p-6">
      <% if @post.images.attached? %>
        <div class="mb-4">
          <div id="main-image-container" class="mb-4 cursor-pointer">
            <%= image_tag @post.images.first.variant(resize_to_fill: [600, 400]), id: "main-image", class: "object-cover w-full h-full rounded-lg", data: { full_url: url_for(@post.images.first.variant(resize_to_fill: [600, 400])) } %>
          </div>
          <div id="thumbnails" class="flex space-x-2">
            <% @post.images.each_with_index do |image, index| %>
              <%= image_tag image.variant(resize_to_fill: [100, 100]), class: "thumbnail cursor-pointer w-24 h-24 object-cover rounded-lg", data: { index: index, full_url: url_for(image.variant(resize_to_fill: [600, 400])) } %>
            <% end %>
          </div>
        </div>
      <% end %>
      <h1 class="text-3xl font-bold mb-4"><%= @post.title %></h1>
      <div>
        <p class="font-semibold text-gray-700">Opis:</p>
        <p class="text-gray-700 text-base mb-4"><%= @post.description %></p>
      </div>
      <div class="mb-4">
        <p class="font-semibold text-gray-700">Cena:</p>
        <p class="text-gray-700 text-base"><%= number_to_currency(@post.price) %></p>
      </div>
      <div class="mb-4">
        <p class="font-semibold text-gray-700">Kategoria:</p>
        <p class="text-gray-700 text-base"><%= @post.category.name %></p>
      </div>
      <div class="mb-4">
        <p class="font-semibold text-gray-700">Availability:</p>
        <p class="text-gray-700 text-base"><%= @post.availability %></p>
      </div>
      <div class="mb-4">
        <p class="font-semibold text-gray-700">Kontakt:</p>
        <p class="text-gray-700 text-base"><%= @post.contact_information %></p>
      </div>
      <div class="mb-4">
        <p class="font-semibold text-gray-700">Adres:</p>
        <p class="text-gray-700 text-base">
          <%= @post.street %>, <%= @post.city %>, <%= @post.state %>, <%= @post.country %>
        </p>
      </div>
      <div class="text-sm text-gray-500">
        <p>Created at: <%= @post.created_at.strftime("%B %e, %Y %H:%M") %></p>
        <p>Last updated: <%= @post.updated_at.strftime("%B %e, %Y %H:%M") %></p>
      </div>
    </div>
    <div class="lg:col-span-1">
      <div id="map" class="w-full h-64 lg:h-full rounded-lg border"></div>
    </div>
  </div>
</div>

<div id="lightbox" class="fixed inset-0 bg-black bg-opacity-75 flex flex-col items-center justify-center hidden">
  <div class="relative w-full h-full max-w-screen-lg max-h-screen flex items-center justify-center">
    <button id="close-lightbox" class="absolute top-4 right-4 text-white text-2xl">×</button>
    <button id="prev-image" class="absolute left-4 text-white text-2xl px-2 bg-black bg-opacity-50 rounded-full">‹</button>
    <img id="lightbox-image" class="object-contain transform scale-150 max-w-full max-h-full" src="" alt="Image" />
    <button id="next-image" class="absolute right-4 text-white text-2xl px-2 bg-black bg-opacity-50 rounded-full">›</button>
  </div>
  <div id="lightbox-thumbnails" class="flex justify-center space-x-2 p-4 mt-2"></div>
</div>

<script>
document.addEventListener("turbo:load", function() {
  function initMap() {
    var postLocation = { lat: <%= @post.latitude %>, lng: <%= @post.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      center: postLocation,
      zoom: 10
    });

    var marker = new google.maps.Marker({
      position: postLocation,
      map: map
    });
  }

  function switchImage(event) {
    const thumbnails = document.querySelectorAll('.thumbnail');
    thumbnails.forEach(thumbnail => thumbnail.classList.remove('border-2', 'border-blue-500'));
    event.target.classList.add('border-2', 'border-blue-500');
    const mainImage = document.getElementById('main-image');
    const fullUrl = event.target.dataset.fullUrl;
    mainImage.src = fullUrl;
  }

  document.querySelectorAll('.thumbnail').forEach(thumbnail => {
    thumbnail.addEventListener('click', switchImage);
  });

  const mainImageContainer = document.getElementById('main-image-container');
  const lightbox = document.getElementById('lightbox');
  const lightboxImage = document.getElementById('lightbox-image');
  const lightboxThumbnails = document.getElementById('lightbox-thumbnails');
  const closeLightbox = document.getElementById('close-lightbox');
  const prevImage = document.getElementById('prev-image');
  const nextImage = document.getElementById('next-image');
  const images = Array.from(document.querySelectorAll('.thumbnail')).map(thumb => thumb.dataset.fullUrl);

  let currentIndex = 0;

  function updateLightboxImage(index) {
    lightboxImage.src = images[index];
    lightboxThumbnails.innerHTML = images.map((src, i) => `
      <img src="${src.replace('600x400', '100x100')}" class="cursor-pointer w-16 h-16 object-cover ${i === index ? 'border-2 border-blue-500' : ''}" data-index="${i}">
    `).join('');
  }

  mainImageContainer.addEventListener('click', function() {
    currentIndex = images.indexOf(mainImageContainer.querySelector('img').dataset.fullUrl);
    updateLightboxImage(currentIndex);
    lightbox.classList.remove('hidden');
  });

  lightboxThumbnails.addEventListener('click', function(event) {
    if (event.target.tagName === 'IMG') {
      currentIndex = parseInt(event.target.dataset.index);
      updateLightboxImage(currentIndex);
    }
  });

  prevImage.addEventListener('click', function() {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
    updateLightboxImage(currentIndex);
  });

  nextImage.addEventListener('click', function() {
    currentIndex = (currentIndex + 1) % images.length;
    updateLightboxImage(currentIndex);
  });

  closeLightbox.addEventListener('click', function() {
    lightbox.classList.add('hidden');
  });

  initMap();
});
</script>
