<div class="hidden lg:block w-64 bg-white shadow-lg">
  <nav class="h-full px-4 py-6">
    <div class="mb-8">
      <%= link_to image_tag('worxy-logo-cropped.svg', alt: 'Logo', class: "w-[250px]"), posts_path %>
    </div>
    <ul class="space-y-2">
      <li>
        <%= link_to dashboard_index_path, id: 'dashboard-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-tachometer-alt mr-2 text-gray-700"></i>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to new_post_path, id: 'new-post-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-plus mr-2 text-gray-700"></i>
          Nowe ogłoszenie
        <% end %>
      </li>
      <li>
        <%= link_to posts_path, id: 'posts-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-list mr-2 text-gray-700"></i>
          Ogłoszenia
        <% end %>
      </li>
      <li>
        <%= link_to user_posts_posts_path, id: 'user-posts-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-user mr-2 text-gray-700"></i>
          Moje Ogłoszenia
        <% end %>
      </li>
      <li>
        <%= link_to conversations_path, id: 'conversations-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-comments mr-2 text-gray-700"></i>
          Wiadomości
        <% end %>
      </li>
      <li class="relative">
        <%= link_to notifications_path, id: 'notifications-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700 notification-bell' do %>
          <i class="fas fa-bell mr-2 text-gray-700"></i>
          Moje Powiadomienia
          <span id="notification-count" class="absolute top-0 right-0 mt-1 mr-2 h-5 w-5 text-xs text-black bg-yellow-400 rounded-full flex items-center justify-center hidden"></span>
        <% end %>
      </li>
      <li>
        <%= link_to bookings_path, id: 'bookings-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-briefcase mr-2 text-gray-700"></i>
          Zlecenia
        <% end %>
      </li>
      <li>
        <%= link_to calendar_bookings_path, id: 'calendar-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-calendar-alt mr-2 text-gray-700"></i>
          Zobacz Kalendarz
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_map_path, id: 'map-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-map mr-2 text-gray-700"></i>
          Mapa Zleceń
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user), id: 'profile-link', data: { turbo: true }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700' do %>
          <i class="fas fa-user-circle mr-2 text-gray-700"></i>
          Profil Użytkownika
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: 'flex items-center block p-2 rounded hover:bg-gray-200 text-red-600' do %>
          <i class="fas fa-sign-out-alt mr-2 text-gray-700"></i>
          Wyloguj
        <% end %>
      </li>
      <li>
        <button id="tutorial-button" class="flex items-center block p-2 rounded hover:bg-gray-200 text-gray-700">
          <i class="fas fa-book mr-2 text-gray-700"></i>
          Poradnik
        </button>
      </li>
    </ul>
  </nav>
</div>

<div class="lg:hidden bg-white shadow-lg fixed bottom-0 left-0 right-0 z-50 min-w-[300px] border-t border-l border-r border-gray-300 rounded-t-2xl">
  <div class="flex justify-between items-center px-4 py-2 relative">
    <%= link_to posts_path, id: 'mobile-posts-link', data: { turbo: true }, class: 'flex flex-col items-center justify-center p-2 mx-2' do %>
      <i class="fas fa-list text-gray-700 text-2xl"></i>
    <% end %>
    <%= link_to dashboard_map_path, id: 'mobile-calendar-link', data: { turbo: true }, class: 'flex flex-col items-center justify-center p-2 mx-2 -ml-12' do %> <!-- Adjust margin with Tailwind -->
      <i class="fas fa-map text-gray-700 text-2xl"></i>
    <% end %>

    <button id="expand-menu-button" class="absolute -top-6 left-1/2 transform -translate-x-1/2 bg-yellow-300 text-black rounded-full w-16 h-16 flex items-center justify-center shadow-lg transition duration-300 ease-in-out">
      <i class="fas fa-plus text-2xl transition-transform duration-300 ease-in-out"></i>
    </button>

    <%= link_to user_path(current_user), id: 'mobile-profile-link', data: { turbo: true }, class: 'flex flex-col items-center justify-center p-2 mx-2 -mr-12' do %> <!-- Adjust margin with Tailwind -->
      <i class="fas fa-user-circle text-gray-700 text-2xl"></i>
    <% end %>

    <%= link_to dashboard_index_path, id: 'mobile-dashboard-link', data: { turbo: true }, class: 'flex flex-col items-center justify-center p-2 mx-2' do %>
      <i class="fas fa-tachometer-alt text-gray-700 text-2xl"></i>
    <% end %>
  </div>
</div>

<div id="expanded-menu" class="lg:hidden fixed inset-0 bg-white z-40 hidden opacity-0 transition-opacity duration-300 ease-in-out">
  <div class="flex flex-col justify-center items-center h-full px-2">
    <ul class="space-y-2 text-center w-full">
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to new_post_path, id: 'expanded-new-post-link', data: { turbo: true }, class: 'flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out' do %>
          <i class="fas fa-plus text-gray-700 text-base mr-2"></i>
          <span>Nowe ogłoszenie</span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to user_posts_posts_path, id: 'expanded-user-posts-link', data: { turbo: true }, class: 'flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out' do %>
          <i class="fas fa-user text-gray-700 text-base mr-2"></i>
          <span>Moje Ogłoszenia</span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to conversations_path, id: 'expanded-conversations-link', data: { turbo: true }, class: 'flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out' do %>
          <i class="fas fa-comments text-gray-700 text-base mr-2"></i>
          <span>Wiadomości</span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to notifications_path, id: 'expanded-notifications-link', data: { turbo: true }, class: 'flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out notification-bell' do %>
          <i class="fas fa-bell text-gray-700 text-base mr-2"></i>
          <span>Moje Powiadomienia</span>
          <span id="notification-count-expanded" class="ml-2 h-4 w-4 text-xs text-black bg-yellow-400 rounded-full flex items-center justify-center hidden"></span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to bookings_path, id: 'expanded-bookings-link', data: { turbo: true }, class: 'flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out' do %>
          <i class="fas fa-briefcase text-gray-700 text-base mr-2"></i>
          <span>Zlecenia</span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to calendar_bookings_path, id: 'expanded-calendar-link', data: { turbo: true }, class: 'flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out' do %>
          <i class="fas fa-calendar-alt text-gray-700 text-base mr-2"></i>
          <span>Zobacz Kalendarz</span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <%= link_to destroy_user_session_path, method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: 'flex items-center text-lg text-red-600 font-medium hover:bg-red-50 p-2 rounded-lg transition duration-200 ease-in-out' do %>
          <i class="fas fa-sign-out-alt text-red-600 text-base mr-2"></i>
          <span>Wyloguj</span>
        <% end %>
      </li>
      <li class="bg-gray-100 p-2 rounded-lg shadow-lg transition duration-200 ease-in-out">
        <button id="expanded-tutorial-button" class="flex items-center text-lg text-gray-700 font-medium hover:bg-blue-50 p-2 rounded-lg transition duration-200 ease-in-out">
          <i class="fas fa-book text-gray-700 text-base mr-2"></i>
          <span>Poradnik</span>
        </button>
      </li>
    </ul>
  </div>
</div>

<script>
  document.getElementById('expand-menu-button').addEventListener('click', function () {
    var menu = document.getElementById('expanded-menu');
    var button = document.getElementById('expand-menu-button');
    var icon = button.querySelector('i');

    if (menu.classList.contains('hidden')) {
      menu.classList.remove('hidden');
      setTimeout(function() {
        menu.classList.add('opacity-100');
      }, 10);
      
      button.classList.remove('bg-yellow-300');
      button.classList.add('bg-red-500');
      icon.classList.add('rotate-45');
    } else {
      menu.classList.remove('opacity-100');
      menu.addEventListener('transitionend', function () {
        menu.classList.add('hidden');
      }, { once: true });

      button.classList.remove('bg-red-500');
      button.classList.add('bg-yellow-300');
      icon.classList.remove('rotate-45');
    }
  });

  function updateNotificationBell() {
    fetch('/notifications/unread_count')
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        const count = data.unread_count;
        const notificationCountElements = document.querySelectorAll('#notification-count, #notification-count-mobile, #notification-count-expanded');

        notificationCountElements.forEach(el => {
          el.textContent = count;
          if (count > 0) {
            el.classList.remove('hidden');
            el.classList.add('block');
            const bells = document.querySelectorAll('.notification-bell');
            bells.forEach(bell => {
              bell.classList.add('animate-bounce');
            });
          } else {
            el.classList.remove('block');
            el.classList.add('hidden');
            const bells = document.querySelectorAll('.notification-bell');
            bells.forEach(bell => {
              bell.classList.remove('animate-bounce');
            });
          }
        });
      })
      .catch(error => {
        console.error('Fetch error:', error);
      });
  }

  document.addEventListener('turbo:load', updateNotificationBell);
  document.addEventListener('turbo:frame-load', updateNotificationBell);
  document.addEventListener('turbo:before-render', updateNotificationBell);
</script>
